:root {
    --square-width: 6.25%; /* Define a custom property for the square width */
    --grid-backgroundColor : white;
  }

#container {
    display: flex;
    flex-wrap: wrap;
    max-width: 950px;
    aspect-ratio: 1;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border: solid black 3px;

}


.square {
    flex: calc(var(--square-width) - 2px) 1 0; 
    box-sizing: border-box;
    aspect-ratio: 1;
    background-color: rgb(255, 255, 255);
    margin: 1px;
    border: solid rgb(0, 0, 0) 1px;
}

.button-container {
    display: flex;
    justify-content: center;
}

#restart {
    margin: 20px;
    padding: 8px 20px;
    font-size: 20px;
    background-color: aqua;
    width: 200px;
}

#restart:hover {
    background-color: blueviolet;
}

#clear {
    margin: 20px;
    padding: 8px 20px;
    font-size: 20px;
    background-color: aqua;
    width: 200px;
}

#clear:hover {
    background-color: blueviolet;
}