:root {
    --square-width: 6.25%;
    --grid-backgroundColor : white;
    --game-font: 'PressStart2PRegular' 'GameOverRegular';
    --system-font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

body {
    background-color: bisque;
    font-family: var(--system-font)
}

header {
    margin: 1rem auto 3rem auto;
    text-align: center;
    font-family: var(--game-font) var(--system-font);
    font-size: 5rem;
    font-weight: 600;
    color: brown;
}

h2 {
    margin: -2rem auto 1rem auto;
    font-family: var(--game-font) var(--system-font);
    font-size: 2rem;
    font-weight: 600;
    color: brown;
}

main {
    display: flex;
}


#container {
    display: flex;
    flex-wrap: wrap;
    width: min(70%,600px);
    aspect-ratio: 1;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border: solid black 3px;

}

.input-container {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: solid black 2px;
    width: 300px;
    margin-left: 100px;
    border-radius: 1rem;
}

input {
    display: block;
    margin: 0 auto;
}
#clear {
    width: 6rem;
    height: 3rem;
    border-radius: 1rem;
    background-color: bisque;
}

label,
#clear {
    font-size: 1.5rem;
    font-family: 'CursiveSerifBook', var(--system-font);
    font-style: italic;
    font-weight: 600;
}


.square {
    flex: calc(var(--square-width)) 1 0; 
    box-sizing: border-box;
    aspect-ratio: 1;
    background-color: rgb(255, 255, 255);
}

#colors {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 3rem;
    height:3rem;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

#colors::-webkit-color-swatch {
    border-radius: 1.5rem;
    border: none;
}

footer {
    background-color: inherit;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 7rem;
}

.git-icon {
    height: 1.5rem;
    width: auto;
    display: inline;
    position: relative;
    top: 3px;
}