:root {
    --square-width: 6.25%; /* Define a custom property for the square width */
    --grid-backgroundColor : white;
  }

#container {
    display: flex;
    flex-wrap: wrap;
    max-width: 950px;
    aspect-ratio: 1;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border: solid black 3px;

}


.square {
    flex: calc(var(--square-width)) 1 0; 
    box-sizing: border-box;
    aspect-ratio: 1;
    background-color: rgb(255, 255, 255);
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: start;
}

#restart,
#clear,
.eraser {
    margin: 20px;
    padding: 8px 20px;
    font-size: 20px;
    background-color: aqua;
    width: 200px;
    height: 70px;
}

#restart:hover,
#clear:hover,
.eraser:hover {
    background-color: blueviolet;
}

.input {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}

.submit {
    padding: 6px 15px;
    font-size: 15px;
    background-color: aqua;
    width: 80px;
}